.employee-dets-card {
  width: 99%;
  border: solid 1px #e2e8f0;
  padding: 10px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  border-radius: 10px;
  margin: 3px 7px 3px 7px;
}

.username-initial-container {
  display: flex;
  align-items: center;
}

.link-item {
  text-decoration: none;
  font-family: 'Roboto';
  color: #737c86;
}

.employs-card-main-container {
  font-family: 'Roboto';
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #737c86;
}

.employee-dets-name {
  font-size: 14px;
  font-family: 'Roboto';
}
